---
import { getCollection } from 'astro:content';
import Layout from '../../layouts/Layout.astro';
import transformStringIntoPath from "../../utils/transformStringIntoPath";

export async function getStaticPaths() {
  const recipeCollection = await getCollection('recipe');

  return recipeCollection.map(({ data }) => {
    const formattedCategory = transformStringIntoPath(data.category);
    return { 
      params: { 
        category: formattedCategory 
      }, 
      props: { 
        recipes: recipeCollection
      }
    }
  });
}

const { category } = Astro.params;
const { recipes } = Astro.props;
const currentRecipes = recipes.filter(({ data }) => transformStringIntoPath(data.category) === category);
---

<Layout title={category}>
  <main>
    <div class="category-content-wrapper">
      {currentRecipes.map(r => (
        <p>{r.data.name}</p>
      ))}
    </div>
  </main>
</Layout>

<style>

</style>