---
import { getCollection } from 'astro:content';
const allBlogPosts = await getCollection('recipe');

export function getStaticPaths() {
  return [
    {params: {recipe: 'clifford'}},
  ];
}

const { recipe } = Astro.params;
---
<div>Dope ass recipe: '{recipe}'</div>