---
import { getCollection } from 'astro:content';
import Layout from '../layouts/Layout.astro';

const recipes = await getCollection('recipe');
---

<Layout title="Recipes">
	<main>
		<h1>Recipes</h1>
		<ul>
			{
				recipes.map(blog => (
					<li>
						<a href={`/recipes/${blog.slug}`}>{blog.data.name}</a>
					</li>
				))
			}
		</ul>
	</main>
</Layout>	

<style>
	h1, h2, h3, p {
    	margin: 0;
  	}
</style>
