---
import { getCollection } from 'astro:content';
import Layout from '../layouts/Layout.astro';

const allBlogPosts = await getCollection('recipe');
---

<Layout title="Recipes | White Family Cookbook">
	<main>
		<h1>Recipes List</h1>
		{
			allBlogPosts.map(blog => (
				<a href={`/recipes/${blog.slug}`}>{blog.data.name}</a>
			))
		}
	</main>
</Layout>	

<style>
	h1, h2, h3, p {
    	margin: 0;
  	}
</style>
